<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wp.exam.mapper.PaperMapper">

    <insert id="importPaper" useGeneratedKeys="true" keyProperty="id">
        insert into t_paper
        (id,
        name,
        mark,
        number,
        time,
        teacher_id,
        teacher,
        ext
        )
        values
        (null ,
        #{name},
        null,
        null,
        #{time},
        #{teacher_id},
        #{teacher},
        null
        );
    </insert>
    <update id="updatePaper">
        update t_paper
        set mark=#{mark},number=#{number}
        where id=#{paper_id}
    </update>

    <update id="updateDelQuestion">
        update t_paper
        set mark = mark - (select sum(mark)
        from t_question
        where id in
        <foreach collection="list" item="item" index="index" open="("
                 separator="," close=")">
            #{item}
        </foreach>
        )
        ,
        number=number-#{number}
        where id = #{paper_id};
    </update>

    <update id="updateAddQuestion">
        update db_exam.t_paper
        set mark=mark+#{mark},number=number+1
        where id = #{paper_id};
    </update>

    <update id="updateQuestion">
        update t_paper
        set mark =(select sum(mark) from t_question where paper_id=#{paper_id}),
        number = (select count(0) from t_question where paper_id=#{paper_id})
        where id = #{paper_id}
    </update>

    <select id="getQuestion" resultType="java.util.Map">
        select
        id,
        paper_id,
        number,
        name,
        flag,
        mark,
        q_A,
        q_B,
        q_C,
        q_D
        from
        t_question
        where paper_id=#{paper_id}
        order by flag,number
    </select>

    <select id="getTimeAndName" resultType="java.util.Map">
        select name,time from t_paper
        where id=#{paper_id}
    </select>

    <select id="search" resultType="java.util.Map">
        select id, name, mark, number, time, teacher_id, teacher
        from t_paper where id not in(select paper_id from t_grade where school_id=#{school_id}) LIMIT #{start},#{end};
    </select>

    <select id="searchCount" resultType="java.lang.Integer">
         select count(0)
        from t_paper where id not in(select paper_id from t_grade where school_id=#{school_id});
    </select>

    <select id="findByTeacher" resultType="java.util.Map">
        select id, name, mark, number, time, teacher_id, teacher
        from t_paper where 1=1
        <if test="name!=null and name!=''">
            and name like concat('%', #{name},'%')
        </if>
        <if test="teacher!=null and teacher!=''">
            and teacher like concat('%', #{teacher},'%')
        </if>
        LIMIT #{start},#{end};
    </select>

    <select id="findByTeacherCount" resultType="java.lang.Integer">
        select count(0)
        from t_paper where 1=1
        <if test="name!=null and name!=''">
            and name like concat('%', #{name},'%')
        </if>
        <if test="school_id!=null and school_id!=''">
            and teacher like concat('%', #{teacher},'%')
        </if>
    </select>

</mapper>
