<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wp.exam.mapper.LoginMapper">

    <select id="loginTeacher" resultType="map">
        select
        id,
        username,
        password,
        name,
        sex,
        work_id,
        college
        from
        t_teacher
        where username=#{username};
    </select>

    <select id="loginStudent" resultType="map">
        select
        id,
        username,
        password,
        name,
        sex,
        school_id,
        college,
        major,
        grade
        from
        t_student
        where username=#{username};
    </select>

    <select id="loginAdmin" resultType="java.util.Map">
        select
        id,
        username,
        password
        from
        t_admin
        where username=#{username};
    </select>

    <select id="check" resultType="java.lang.Integer">
        select
        count(1)
        from t_teacher a, t_student b, t_admin c
        where c.username=#{username}
        or b.username=#{username}
        or a.username=#{username}
        <if test="school_id!=null and school_id!=''">
            or b.school_id=#{school_id}
        </if>
        <if test="work_id!=null and work_id!=''">
            or a.work_id=#{work_id}
        </if>
    </select>

</mapper>
