<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <title>exam</title>
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="stylesheet" href="../static/css/bootstrap.css" />
    <link rel="shortcut icon" href="../static/img/book.ico" type="image/x-icon"/>
    <script type="text/javascript" src="../static/js/jquery-1.11.0.js" ></script>
    <script type="text/javascript" src="../static/js/bootstrap.js" ></script>
</head>
<body>
<div style="height:80px;background-color: #337AB7;position: relative;left: 0;top: 0;">
    <span style="font-style: italic;font-size: 30px;color: white;position: absolute;top: 25%;left: 3%;">线上考试系统</span>
    <span style="font-style: italic;font-size: 20px;color: white;position: absolute;top: 50%;right: 3%;">(created by wupeng)</span>
</div>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">线上考试系统</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#">首页 <span class="sr-only">(current)</span></a></li>
                <li ><a href="#">考生信息管理</a></li>
                <li><a href="#">考生成绩查询</a></li>
                <li class="active"><a href="#">试卷管理</a></li>
                <li><a href="#">题目管理</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a>欢迎用户:</a></li>
                <li><a href="/">wp</a></li>
                <li><a href="/layout">退出系统</a></li>
            </ul>
        </div>
    </div>
</nav>
<!--内容-->

<diV style="text-align: center;margin:0 auto; width: 80%">
    <h2>单选题</h2>
    <form th:each="q:${questions}">
        <div>
            <i th:value="${q.number}">1</i><span>(1分)</span>
        </div>

    </form>



</diV>
</body>
</html>